body {
    text-align: center;
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-head {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.link {
    color: aquamarine;
    font-weight: normal;  
    font-size: 16px;
}