body {
    text-align: center;
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADINGS */
.main-head {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.second-head {
    font-weight: 300;
    font-size: 42px;
    color: #ffffff;
}

/* TAG & LINK */
.tagline {
    font-size: 21px;
    color: grey;
}

.link {
    color: aquamarine;
    font-weight: normal;  
    font-size: 16px;
}



